* {
	margin: 0 auto;
	font-family: 'Press Start 2P', cursive;

}

html,
body {
	overscroll-behavior-x: none;
	overscroll-behavior-y: none;
}


#banner {
	width: 100%;
	height: 60px;
	padding: 20px;
	align-content: center;
	background-image: url("../images/bricks.jpg");
	background-position: center;
	margin-top: 20px;
	color: DodgerBlue;
	border: 2px solid black;
}

body {
	width: 400px;
	justify-content: center;
	background-image: radial-gradient(#ffd700, #b22222);
}

.buttonControl {
	padding: 5px;
	border: 2px solid;
}

.colorSquare {
	border: .25em solid #000;
	width: 30px;
	height: 20px;
	margin: 5px;
	cursor: pointer;
}

.selectedColorSquare {
	border: .25em solid #f1f1f1;
	width: 30px;
	height: 20px;
	margin: 5px;
	cursor: pointer;
}

.container-square {
	width: 25px;
	height: 25px;
	box-sizing: border-box;
}

.grid {
	border: 1px solid #202124;
}

.square {
	width: 100%;
	height: 100%;
	background-color: white;
}

.row {
	display: flex;
}

.blink {
	animation: blinkColor 600ms;
}

.flash {
	animation: flash 300ms;
}

.brushFlash {
	animation: brushFlash 300ms;
}

.gridBox {
	border: .25em solid #000;
	width: 25px;
	height: 25px;
}

#colorBox {
	cursor: crosshair;
	border: 2px solid;
	width: 400px;
	margin-top: 10px;
	box-sizing: border-box;
}

@keyframes blinkColor {
	0% {
		border: 1px solid #000;
	}

	50% {
		border: 1px solid #f1f1f1;
	}

	100% {
		border: 1px solid #000;
	}
}

@keyframes flash {
	0% {
		border: 0px solid #fff;
	}

	50% {
		border: 1px solid #fff;
	}

	100% {
		border: 0px solid #fff;
	}
}

@keyframes brushFlash {
	0% {
		border: .35em solid dodgerblue;
	}

	50% {
		border: .35em solid #f1f1f1;
	}

	100% {
		border: .35em solid dodgerblue;
	}
}

#app-container {
	margin: 5px auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0;
}

#palleteContainer {
	margin: auto;
	margin-top: 30px;
	width: 340px;
}

#pallete {
	display: flex;
}

#colorOptions {
	margin-top: 5px;
}

.controlsRow {
	width: 100%;
	margin: 5px;
}

input[type="color"]#colorField {
	background-color: #000;
	width: 30px;
	height: 30px;
	border: none;
}
input#checkbox {
	width: 30px;
	height: 30px;
	border: none;
}

label, input {
	cursor: pointer;
	vertical-align: middle;
}

label {
	display: inline-block;
	height: 100%;
	width: 160px;
}

.labelText {
	margin-left: 15px;
}

.paintStyle {
	margin-top: 5px;
	width: 36px;
	height: 36px;
	box-sizing: border-box;
}

.selectedPaintStyle {
	padding: 5px;
	border: .35em solid dodgerblue;
}

.buttonRow {
	width: 100%;
	margin-top: 16px;
	align-content: flex-start;
}

#btnSave {
	width: 200px;
	height: 48px;
	cursor: pointer;
}

#clearCanvas {
	width: 90px;
	height: 48px;
	cursor: pointer;
	float: right;
}

@media(max-width: 450px) {
	#banner {
		width: 85%;
		padding: 5px;
		margin: 0 auto;
	}

	#colorBox {
		margin: 10px auto auto 0;
	}

	#palleteContainer {
		margin-top: 10px;
	}
}